@font-face {
  font-family: "circe";
  src: url(../fonts/circe.otf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto.ttf);
}

* {
  font-family: Roboto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* elimina barra-scrool */
*::scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 90px;
  display: none;
  padding: 10px 2em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #61e6f0fb;
  border-bottom: 7px solid #e23737;
}

.header .redes-social a {
  background: transparent;
  text-decoration: none;
}

.header .redes-social a img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.header .img-logo {
  overflow: hidden;
  border-radius: 5px;
}

.header .links-menu li {
  margin: 0 5px;
  display: inline-block;
}

.header .links-menu li a {
  color: #333;
  font-weight: 800;
  font-family: Lato;
  text-decoration: none;
}

.catalogo-exposicao {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.catalogo-exposicao .catalogo-exposicao-carousel {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 6px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.catalogo-exposicao .catalogo-exposicao-carousel .item-exposicao {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.catalogo-exposicao .catalogo-exposicao-carousel .item-exposicao .texto {
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 5em;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
}

.catalogo-exposicao .catalogo-exposicao-carousel .item-exposicao .texto h1 {
  font-size: 3.6pc;
  font-weight: 900;
  line-height: 10px;
}

.catalogo-exposicao .catalogo-exposicao-carousel .item-exposicao .texto p {
  font-size: 14pt;
}

.catalogo-exposicao .catalogo-exposicao-carousel .item-exposicao img {
  top: 0px;
  left: 0px;
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.catalogo-exposicao .catalogo-exposicao-btn {
  top: 0px;
  z-index: 2;
  float: left;
  right: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translate(0px, 40vh);
          transform: translate(0px, 40vh);
}

.catalogo-exposicao .catalogo-exposicao-btn i {
  padding: 8px;
  margin: 0 20px;
  cursor: pointer;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.4);
}

.catalogo-sobre {
  float: left;
  width: 100%;
  padding: 4em 1em 3em;
  text-align: center;
}

.catalogo-sobre .sobre-items {
  padding: 3em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.catalogo-sobre .sobre-items div {
  padding: 1em;
  text-align: center;
  border-right: 2px solid #ccc;
}

.catalogo-sobre .sobre-items div h3 {
  font-family: circe;
  font-weight: 900;
  line-height: 5px;
  letter-spacing: 3px;
  text-transform: capitalize;
}

.catalogo-sobre .sobre-items div p {
  line-height: 20pt;
}

.catalogo-sobre .sobre-items div span {
  text-align: center;
}

.catalogo-sobre .sobre-items div:last-child {
  border-right: none;
}

.catalogo-galeria {
  float: left;
  width: 100%;
  display: block;
  padding: 4em 2em;
  text-align: center;
}

.catalogo-galeria .catalogo-items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  padding: 3em 0;
  overflow: hidden;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.catalogo-galeria .catalogo-items img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.catalogo-contacto {
  float: left;
  width: 100%;
  padding: 4em 1em;
  text-align: center;
  background: #ccc;
}

.catalogo-contacto form {
  margin: 3em auto;
  width: calc(100vw - 55vw);
}

.catalogo-contacto form div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 10px 0;
}

.catalogo-contacto form div input, .catalogo-contacto form div textarea {
  outline: none;
  border: none;
  padding: 10px;
  font-weight: 700;
  border-radius: 5px;
}

.catalogo-contacto form div input:focus, .catalogo-contacto form div textarea:focus {
  color: #fff;
  font-weight: 500;
  background: #333;
}

.catalogo-contacto form div.gr-index {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.catalogo-contacto form div.gr-index textarea {
  height: 200px;
}

.catalogo-contacto form div:last-child {
  margin: 10px 0;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 10px;
}

.catalogo-contacto form div:last-child button {
  outline: none;
  border: none;
  padding: 10px;
  font-weight: 900;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.catalogo-informacao {
  float: left;
  width: 100%;
  padding: 3em 2em 2em;
  border-top: 3px solid #e23737;
}

.catalogo-informacao .form-subscrever {
  padding: 0px;
}

.catalogo-informacao .form-subscrever form input {
  color: #333;
  border: none;
  width: 250px;
  outline: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 1px solid #666;
}

.catalogo-informacao .form-subscrever form input:focus {
  color: #fff;
  font-weight: 500;
  background: #333;
}

.catalogo-informacao .form-subscrever form button {
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  font-weight: 900;
}

.catalogo-informacao .form-subscrever form button:hover {
  color: #fff;
  background: #999;
}

.catalogo-informacao .div-contato div p {
  font-weight: 900;
}

.catalogo-informacao .div-contato div p span {
  font-weight: 400;
}

.catalogo-informacao .div-contato div p a img {
  width: 25px;
  height: 25px;
}

.catalogo-informacao .copy {
  margin: 10px 0;
  line-height: 5px;
  text-align: center;
}

.catalogo-informacao .copy::after {
  content: "";
  width: 3px;
  padding: 2px;
  display: block;
  margin: 15px auto;
  border-radius: 5px;
  background: #333;
}

.catalogo-informacao .copy:last-child::after {
  margin: 0px;
  display: none;
}

.flex-colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.font-titulo {
  font-family: circe;
  font-weight: 900;
  line-height: 5px;
  font-size: 20pt;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.font-titulo::after {
  content: "";
  width: 15px;
  padding: 2px;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  background: #666;
}

@media (max-width: 680px) {
  .catalogo-exposicao .item-exposicao .texto {
    padding: 3em;
  }
  .catalogo-exposicao .item-exposicao .texto h1 {
    font-size: 2pc;
  }
  .catalogo-exposicao .item-exposicao .texto p {
    font-size: 16pt;
  }
  .catalogo-galeria {
    text-align: center;
  }
  .catalogo-galeria .catalogo-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .catalogo-sobre {
    padding: 4em 1em;
    text-align: center;
  }
  .catalogo-sobre .sobre-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .catalogo-sobre .sobre-items div {
    border-right: none;
    border-bottom: 2px solid #ccc;
  }
  .catalogo-sobre .sobre-items div:last-child {
    border-right: none;
    border-bottom: none;
  }
  .catalogo-contacto {
    padding: 4em 0em;
    background: #ccc;
  }
  .catalogo-contacto form {
    width: calc(100vw - 25vw);
  }
  .catalogo-informacao .flex-colums {
    padding: 2em 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalogo-informacao .flex-colums .form-subscrever form input {
    width: 340px;
    color: #fff;
    font-weight: 500;
    background: #333;
  }
  .catalogo-informacao .flex-colums .form-subscrever form button {
    color: #fff;
    background: #999;
  }
}
/*# sourceMappingURL=index.css.map */