@font-face {
	font-family: "circe" ;
	src: url(../fonts/circe.otf);
}
@font-face {
	font-family: "Roboto" ;
	src: url(../fonts/Roboto.ttf);
}

*
{
	font-family: Roboto;
	box-sizing: border-box;
}

/* elimina barra-scrool */
*::scrollbar {
    width: 0px;
	
}
  
::-webkit-scrollbar {
    width: 0px;
}

body{
	padding: 0px;
	margin: 0px;
	font-weight: 400;
	overflow-x: hidden;
}


.header 
{
	width: 95%;
	height: 90px;
	padding: 10px 2em;
	position: fixed;
    top:0;
    left: 0;
	z-index: 1;
	background-color: #61e6f0fb;
	border-bottom: 7px solid #e23737;


	.redes-social
	{
		a
		{
			background: transparent;
			text-decoration: none;
			img
			{
				width: 30px;
				height: 30px;
				border-radius: 5px;

			}
		}
	}
	.img-logo
	{
		overflow: hidden;
		border-radius: 5px;
	}
	.links-menu
	{
		li
		{
			margin: 0 5px;
			display: inline-block;

			a
			{
				color: #333;
				font-weight: 800;
				font-family: Lato;
				text-decoration: none;
			}
		}
	}
}

.catalogo-exposicao
{
	float: left;
	clear: both;
	width: 100vw;
	height: 80vh;
	// overflow: hidden;


	.item-exposicao
	{

		// right: 150px;
		float: left;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		display: inline-block;


		.texto
		{
			z-index: 1;
			width: 100%;
			height: 100%;
			padding: 5em;
			position: relative;
			background: rgba(0, 0, 0, .1);

			h1
			{
				font-size: 3.6pc;
				font-weight: 900;
				line-height: 10px;
			}
			p
			{
				font-size: 14pt;
			}
		}
		img
		{
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
		}
	}
	.catalogo-exposicao-btn
	{
		top: 0px;
		float: left;
		right: 0px;
		width: 100%;
		display: flex;
		position: absolute;
		justify-content: space-between;
		transform: translate(0px, 40vh);
		

		i
		{
			padding: 5px;
			margin: 0 20px;
			cursor: pointer;
			border-radius: 8px;	
			background:rgba(0, 0, 0, .3);
		}
	}
}

.catalogo-sobre
{
	float: left;
	width: 100%;
	padding: 4em 1em;
	text-align: center;

	.sobre-items
	{
		padding: 3em 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		div
		{
			padding: 1em;
			text-align: center;
			border-right: 2px solid #ccc;

			h3
			{
				font-family: circe;
				font-weight: 900;
				line-height: 5px;
				letter-spacing: 3px;
				text-transform: capitalize;
			}
			p
			{
				line-height: 20pt;
			}
			span
			{
				text-align: center;
			}

			&:last-child
			{
				border-right: none;
			}
		}
	}
}


.catalogo-contacto
{
	float: left;
	width: 100%;
	padding: 4em 1em;
	text-align: center;
	background: #e23737;


	form
	{
		margin: 3em auto;
		width: calc(100vw - 55vw);

		div
		{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 20px;

			input, textarea
			{
				outline: none;
				border: none;
				padding: 10px;
				font-weight: 700;
				border-radius: 5px;

				&:focus
				{
					color: #fff;
					font-weight: 500;
					background: #333;
				}
			}

			&:last-child
			{
				margin: 10px 0;
				grid-template-columns: 1fr;
				grid-gap: 10px;

				textarea
				{
					height: 200px;
				}
			}
		}
	}
}

.catalogo-informacao
{
	float: left;
	width: 100%;
	padding: 3em 2em 2em;
	border-top: 3px solid #e23737;


	.flex-colums
	{
		
	}
	.form-subscrever
	{
		padding: 0px;

		h3
		{
			// font-size: 10pt;
			// line-height: 0px;
		}

		form
		{
			input
			{
				color: #333;
				border: none;
				width: 250px;
				outline: none;
				padding: 10px;
				border-radius: 3px;

				&:focus
				{
					color: #fff;
					font-weight: 500;
					background: #333;
				}
			}
			button
			{
				border: none;
				outline: none;
				padding: 10px;
				cursor: pointer;
				font-weight: 900;

				&:hover
				{
					color: #fff;
					background: #999;
				}
			}
		}
	}
	.div-contato
	{
		div
		{
			p
			{
				font-weight: 900;

				span
				{
					font-weight: 400;
				}
			}
		}
	}
	.copy
	{
		margin: 10px 0;
		line-height: 5px;
		text-align: center;

		&::after
		{
			content:"";
			width: 3px;
			padding: 2px;
			display: block;
			margin: 15px auto;
			border-radius: 5px;
			background: #333;
		}

		&:last-child
		{
			&::after
			{
				margin: 0px;
				display: none;
			}
		}
	}
}


.flex-colums
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.align-center
{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.font-titulo
{
	font-family: circe;
	font-weight: 900;
	line-height: 5px;
	font-size: 20pt;
	letter-spacing: 3px;
	text-transform: uppercase;

	&::after
	{
		content:"";
		width: 15px;
		padding: 2px;
		display: block;
		margin: 20px auto;
		border-radius: 5px;
		background: #666;
	}
}